html,
body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  min-height: 400px;
  width: 100%;
  border-radius: 12px;
}

.slots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.5rem;
}

.slot-btn {
  text-align: center;
}
